@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* NeueHaasDisplay font */

@font-face {
  font-family: 'NeueHaasDisplayBlack';
  src: url('./assets/fonts/NeueHaasDisplayBlack.ttf') format('ttf'), local('NeueHaasDisplayBlack');
}

@font-face {
  font-family: 'NeueHaasDisplayBold';
  src: url('./assets/fonts/NeueHaasDisplayBold.ttf') format('ttf'), local('NeueHaasDisplayBold');
}

@font-face {
  font-family: 'NeueHaasDisplayLight';
  src: url('./assets/fonts/NeueHaasDisplayLight.ttf') format('ttf'), local('NeueHaasDisplayLight');
}

@font-face {
  font-family: 'NeueHaasDisplayMediu';
  src: url('./assets/fonts/NeueHaasDisplayMediu.ttf') format('ttf'), local('NeueHaasDisplayMediu');
}

@font-face {
  font-family: 'NeueHaasDisplayThin';
  src: url('./assets/fonts/NeueHaasDisplayThin.ttf') format('ttf'), local('NeueHaasDisplayThin');
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 800 */


/* open sans font */

.open-sans {
  font-family: "Open Sans", sans-serif;
}

/* roboto regular font */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}